<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">

  <mat-vertical-stepper linear (swipeleft)="swipeLeft()">

    <mat-step label="Seleccionar archivo a encriptar" [stepControl]="input">
      <mat-form-field *ngIf="form.get('input').value">
        <input matInput placeholder="Origen" formControlName="input">
        <mat-icon matSuffix (click)="selectInputFile()">folder_open</mat-icon>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" *ngIf="!form.get('input').value" (click)="selectInputFile()">
        Elegir
      </button>
    </mat-step>

    <mat-step label="Seleccionar destino" [stepControl]="output">
      <mat-form-field *ngIf="form.get('output').value">
        <input matInput placeholder="Destino" formControlName="output">
        <mat-icon matSuffix>folder_open</mat-icon>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" *ngIf="!form.get('output').value" (click)="selectOutputFile()">
        Elegir
      </button>
    </mat-step>

    <mat-step label="Elegir contraseña" [stepControl]="password">
      <mat-form-field>
        <input matInput placeholder="Contraseña" formControlName="password" type="password" (keydown.enter)="stepper.next()">
      </mat-form-field>
    </mat-step>

    <mat-step label="Encriptar">
      <button type="submit" mat-raised-button color="primary"  [disabled]="!form.valid">Encriptar</button>
    </mat-step>

  </mat-vertical-stepper>


</form>
