<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link routerLink="/encrypt" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
    Encriptar
  </a>
  <a mat-tab-link routerLink="/decrypt" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
    Desencriptar
  </a>
</nav>

<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>
