@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-cyan);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

$app-background-custom: (
  background: map_get($mat-grey, 900),
  card: map_get($mat-grey, 900)
);

$app-foreground-custom: (
  text: map_get($mat-cyan, 300),
  secondary-text: map_get($mat-cyan, 300),
  divider: map_get($mat-cyan, 300)
);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Insert custom background color
$app-background: map-get($app-theme, background);
$app-background: map_merge($app-background, $app-background-custom);
$app-foreground: map-get($app-theme, foreground);
$app-foreground: map_merge($app-foreground, $app-foreground-custom);
$app-theme: map_merge($app-theme, (background: $app-background, foreground: $app-foreground));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
